

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    

}
body{
    background-image: url(./left.png),url(./right.png);
    background-repeat: repeat-y,repeat-y;
    
    background-position: left top, right top;
    
    
}

#body{
    background-color: #f1f1f1;
    
}
li,form,button{

    font-family: "open+sans",sans-serif;
    
    font-size: 10px;
    
    text-decoration: none;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
}
#h{
    background-color: #0c198f;
    
}
#search{
width: 300px;  
margin-top: 20px;
height: 40px; 
overflow: hidden;

}
#nav{
    background-color: #0c198f;
}
/*header............................................... end*/
.flex-container {
    display: flex;
   background-color: white; 
  }
  
  .flex-container > div {
    
    margin-top: 0px;
    padding: 50px;
    font-size: 30px;
  }
  #temp{
      background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #0c198f;
  }
  #temp ul li{
      display: inline;
      text-decoration: none;
      padding: 1px;

      
      
  }
#list{
    display: flex;
    justify-content: center;
    
    padding: 12px;
    margin-top: 5px;
    background-color: white;
}
  #list ul li{
      display: inline;
      text-decoration: none;
      font-size: 10px;
      padding: 4px;
      color: white;
      background-color: black;
       
  }
  /*-------------------------------*/
  #adv{
      padding: 20px;
  }
  /*-----------------------*/

  #one{
      background-color: white;
      padding: 5px;
      margin: 8px;
  }
  #one2{
    
    padding: 5px;
    margin: 8px;
}
  #two{

    padding: 20px;
border-bottom: 1px solid black;
  }
  #two2{

    padding: 20px;

  }
  #text{

    border-top: 1px solid black;

  }
  #second{

    padding: 10px;
    border-bottom:1px solid black;
    

  }
  #maintext{

background-color: white;
margin: 10px;
padding: 10px;

  }
  #line{
      border-bottom: 1px solid black ;
      padding: 20px;
  }
  /*----------------------------*/
  #s2{
   background-color: white;
   padding: 5px;

  }
  #second22{
      margin-bottom: 20px;
      background-color: white;
      padding: 20px;
  }
  #vot{
      background-color: white;
  }
  #votin{
      padding: 5px;
  }
  /*------------------------------*/
  #l1{
      background-color: white;
      margin: 5px;
  }
  #l1iner{
      padding: 15px;
      
  }


  /*----------------------------------*/
  #sp{
color: white;
    background-color: #0c198f;
    margin: 10px;

  }